/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 nov. 2014, 14:46:31
    Author     : DEVAUDA_INFO
*/

section article section section article section img{
    width: 100%;
}

.comms{
    border-bottom: 1px #000000 solid;
}

.commsPseudo{
    text-align: left;
    border-bottom: 1px #cccccc solid;
}

.commsDate{
    text-align: right;
    border-bottom: 1px #cccccc solid;
}
/*
section section article section form{
    width: 355px;
    margin: auto;
}

section section article section form label{
    width: 110px;
}

section section article section form input{
    width: 240px;
    margin-top: 4px;
}

section section article section form textarea{
    width: 355px;
    margin-top: 4px;
}

section section article section form select{
    width: 240px;
    margin-top: 4px;
}*/



